/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.header{
   display: flex;
   justify-content: space-between;
   border: 1px solid black;
}

.logo{
   width: 122px;
}

.nav-items{
   padding: 0px 20px;
}

.nav-items > ul{
   font-size : 18px;
   display: flex;
   list-style-type: none;
}

.nav-items > ul > li{
   padding: 10px;
   margin: 10px;
}

.search{
   padding: 10px;
}

.res-card{
   padding: 10px;
   width: 200px;
   margin: 5px;
   background-color: #E89275;
   border-style: outset;
   border-radius: 6px;
}

.res-card:hover{
   cursor: pointer;
   border: 1px solid black;
}

.res-container{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}

.res-logo{
   width: 100%;
}

h3{
   color: maroon;
}

h4{
   color: black;
}

.filter-btn{
   margin: 10px;
}

.shimmer-container{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}

.shimmer-card{
   width: 200px;
   height: 400px;
   margin: 22px;
   background-color: #CACACA;
   border-style: outset;
   border-radius: 6px;
}

.search-button{
   margin: 5px;
}

.rescard-link{
   text-decoration: none;
}

.rescard-link:hover{
   text-decoration: underline;
}

.user-card{
   border: 1px solid black;
   padding: 5px;
}

.contact{
   margin: 10px 0px;
}

.profile-pic{
   height: 200px;
   width: 200px;
}

.top-rated{
   position: absolute;
   margin: 5px 10px;
   padding: 3px;
   background-color: black;
   text-decoration: none;
   color: white;
   border-radius: 5px;
}

.res-menu{
   text-align: center;
}

.res-category{ 
   background-color: #FFCB9A;
   margin: 15px;
   padding: 5px; 
   border-bottom: 1px solid black;
}

.category-title{
   font-size : 15px;
   font-weight: bold;
}

.res-cat{
   display:flex;
   justify-content:space-between;
   cursor: pointer;
}

.cuisine-list{
   display:flex;
}

.food-list{
   text-align:left;
}

.name-cost{
   color: red;
}